.idea
vendor
*.log
/uploads/image
/doc/smarty3.1.chw
*.map
/.vscode
/ank/doc/Ank/EasyCHM_Alias.h
/ank/doc/Ank/EasyCHM_Map.h
/ank/doc/Ank/_EasyCHM_ErrorLog.Log
/ank/doc/Ank手册.chw
/ank
/uploads/_temp_data
/composer.lock
/web/uploads
/web/public
/*.env
/*.json
